.cardMenu {
  background-color: #cbdae3;
  color: #21253d;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  animation: fade-in 500ms forwards;
  overflow-y: scroll;
  border-radius: 0px 0px 0px 1em;
  border-width: 1px;
  border-style: solid;

  ul {
    margin: 0;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    list-style: none;
    :last-child {
      border: none !important;
    }
    li {
      border: 0.4px outset #c5d0e1;
      padding-top: 1em;
      padding-bottom: 1em;
      list-style: none;
      &:active {
        background-color: #f2191926;
      }
      button {
        color: #21253d;
        font-weight: 500;
        font-size: 20px;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 3px;
      }
    }
  }
}
