[type="checkbox"] {
  position: absolute;
  left: -9999px;
}
.checkboxLi {
  margin-top: 1em;
  width: 70%;
  border-radius: 10px;
  color: #e8e9ed;
  background: #18172c37;
  position: relative;
  counter-increment: switchCounter;
  padding: 0px 0em 0px 1.5em;

  &:first-child {
    margin-top: 0em;
  }

  @media screen and (min-width: 1000px) {
    width: 30%;
  }

  &:not(:last-child) {
    border-bottom: 1px solid #434257;
  }

  &::before {
    position: absolute;
    top: 50%;
    left: -30px;
    transform: translateY(-50%);
    font-size: 2rem;
    font-weight: bold;
    color: #ff4b77;
  }
  label {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 15px 15px 15px 5px;

    span {
      font-weight: 700;
      font-size: 18px;
      letter-spacing: 1px;

      @media screen and (min-width: 500px) {
        font-size: 25px;
      }
    }
    .center {
      .speedometr {
        max-width: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .spanTittle {
      display: flex;
      align-items: center;
      gap: 3px;

      .inputTittle {
        background-color: #43425769;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 0px 6px 0px 6px;
        input {
          background-color: #43425700;
          width: 50%;
          border: none;
          font-size: 20px;
          font-weight: 700;
          color: #e8e9ed;
        }
        div {
          display: flex;
          align-items: center;
          flex-direction: row;
          gap: 8px;
          .confirm {
            transition: 0.5s ease-in;
            fill: #000000;
            &:hover {
              fill: #19c107;
            }
          }
          .reject {
            transition: 0.5s ease-in;
            fill: rgb(0, 0, 0);
            width: 20px;
            height: 20px;
            &:hover {
              fill: #df1515;
            }
          }
        }
      }
      svg {
        fill: #82848a;
        height: 20px;
        width: 20px;
        cursor: pointer;
      }
      div {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        p {
          color: #434257;
          font-size: 8px;
        }
      }
    }
    .spanOrder {
      cursor: pointer;
      position: relative;
      width: 50px;
      height: 26px;
      border-radius: 15px;
      box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
      background: #434257;
      transition: all 0.3s;
      &::before {
        content: "";
        position: absolute;
        left: 1px;
        top: 1px;
        width: 24px;
        height: 24px;
        background: #e8e9ed;
        border-radius: 50%;
        z-index: 1;
        transition: transform 0.3s;
      }
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 8px;
        width: 12px;
        height: 12px;
        transform: translateY(-50%);
        background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/uncheck-switcher.svg);
        background-size: 12px 12px;
      }
    }
  }
}
