.notFoundDiv {
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 3vw;
  }
}

.homeCard {
  display: flex;
  flex-direction: column;
  animation: fade-in 500ms forwards;
  ol {
    list-style: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
  }

  .switches {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: 1000px) {
      padding: 0px 10px 0px 0px;
      margin-top: 1em;
      margin-left: 5em;
      align-items: flex-start;
      justify-content: start;
    }
  }
  .switches [type="checkbox"] {
    &:checked {
      & + label span:last-child {
        background: #00d084;

        &::before {
          transform: translateX(24px);
        }
        &::after {
          width: 14px;
          height: 14px;
          /*right: auto;*/
          left: 8px;
          background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/checkmark-switcher.svg);
          background-size: 14px 14px;
        }
      }
    }
  }
}
