a{
    text-decoration: none;
    font-style: unset;
}
.App{
    display: flex;
    margin: 0;
    flex-direction: column;

}
.nav{
    background-color: #6a443c29;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}    
.logo{
    font-weight: bold;
    font-size: 24px;
}
.divNav{
    
    display: flex;
}