* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
a {
  outline: none;
  text-decoration: none;
  box-shadow: none;
  cursor: pointer;
}
.App {
  display: flex;
  flex-direction: column;

  .nav {
    padding: 0.3em;
    background-color: #ffffff;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    .logo {
      font-weight: bold;
      font-size: 24px;
    }
    .divNav {
      display: flex;

      ul {
        color: black;
        padding: 1em;
      }
    }
  }
}
